@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body {
    margin: 0;
    overflow: hidden;
    color: #eee;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

body div#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #203763, #4a0d5c);
    z-index: -1;
}

body main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

body main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body main header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}

body main header h1 sub {
    font-size: 1.5rem;
    font-weight: 400;
}

body main header .logo img{
    height: 250px;
}

body main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}

body main section .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: min(1000px, 80%);
    gap: 50px;
    justify-content: center;
    padding: 10px 10px 50px 10px;
}

body main section .card {
    width: 200px;
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
    background: #262d3d;
    box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}

body main section .card:hover {
    transform: scale(1.05);
}

body main section .card:hover .image .filter {
    opacity: 0.3;
}

body main section .card:hover .image .icon {
    color: #fff;
}

body main section .card .image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    background-image: url("/static/Background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body main section .card .image .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ffffff00 50%, #fff);
    opacity: 0;
    transition: all 0.3s;
}

body main section .card .image .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #aaa;
    transition: color 0.3s;
}

body main section .card .content {
    padding: 10px;
}

body main section .card .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

body #content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #262d3d;
    z-index: 1000;
}

body #content .image {
    width: 100%;
    height: 200px;
    background-image: url("/static/Background.png");
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

body #content .image .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    pointer-events: none;
}

body #content .image .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ffffff00 50%, #fff);
    opacity: .3;
    border-radius: 20px;
    pointer-events: none;
}

body #content .content {
    padding: 10px;
}

body #content .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

body #content .image #top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

body #content .image #top-nav #logo img{
    height: 50px;
}

body #content .image #top-nav #back-icon{
    font-size: 25px;
    background: #262d3d;
    padding: 10px;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

body #content .image #top-nav #back-icon:hover{
    background: #464d5d;
}

body #content .image #top-nav #title {
    color: #fff;
    font-size: 1.3rem;
}