
.cover-main h1 a span {
    color: #0c0c0c;
    font-weight: bold;
}

/**
    - main title's version number
    */
.cover-main h1 a span small {
    color: black;
}

/**
- description
    */
.cover-main blockquote {
    color: #6b0584;
}

/**
- buttons
    */
section.cover .cover-main > p:last-child a {
    color: green !important;
}

section.cover .cover-main > p:last-child a:hover {
    color: green !important;
}

/**
- last button
    */
section.cover .cover-main > p:last-child a:last-child {
    color: white !important;
}

section.cover .cover-main > p:last-child a:last-child:hover {
    color: #c3f8ac !important;
}
