
.cover-main h1 a span {
    color: #0c0c0c;
    font-weight: bold;
}

/**
    - main title's version number
    */
.cover-main h1 a span small {
    color: black;
}

/**
- description
    */
.cover-main blockquote {
    color: #6b0584;
}

/**
- buttons
    */
section.cover .cover-main > p:last-child a {
    color: rgb(0, 0, 0) !important;
}

section.cover .cover-main > p:last-child a:hover {
    background: #ffffff44;
}

/**
- last button
    */
section.cover .cover-main > p:last-child a:last-child {
    color: white !important;
}

section.cover .cover-main > p:last-child a:last-child:hover {
    background: rgb(158, 8, 8);
    border-color: rgb(158, 8, 8);
}


.sidebar{
    background: #3a3a3a;
}

.sidebar-toggle{
    background: #3a3a3a00;
}