.cover-main h1 a span {
    color: #0c0c0c;
    font-weight: bold;
}

.cover-main h1 a {
    padding: 0 50px 0 50px;
}

.github-corner{
    display: block !important;
    transition: opacity .2s ease-in-out;
}

@media screen and (max-width: 768px){
    .close .github-corner {
        opacity: 0;
    }
}


/**
    - main title's version number
    */
.cover-main h1 a span small {
    color: black;
}

/**
- description
    */
.cover-main blockquote {
    color: #6b0584;
}

/**
- buttons
    */
section.cover .cover-main > p:last-child a {
    color: rgb(0, 0, 0) !important;
}

section.cover .cover-main > p:last-child a:hover {
    background: #ffffff44;
}

/**
- last button
    */
section.cover .cover-main > p:last-child a:last-child {
    color: white !important;
}

section.cover .cover-main > p:last-child a:last-child:hover {
    background: rgb(158, 8, 8);
    border-color: rgb(158, 8, 8);
}

.sidebar{
    border: none;
    padding: 50px 0 0 0;
}

.sidebar .sidebar-nav ul{
    margin-left: 10px;
}

.sidebar .sidebar-nav{
    background: #2a2a2a;
    border-radius: 20px;
    padding: 10px 10px 10px 0;
}

.sidebar .sidebar-nav ul li{
    padding: 5px 0 5px 15px;
    border-radius: 1000000px;
    margin: 0;
}

.sidebar .sidebar-nav ul li.active{
    background: #ea6f5a22;
}

.sidebar .sidebar-nav ul li:hover{
    background: #6a6f6a22;
}

.sidebar .sidebar-nav ul li a:hover{
    text-decoration: none !important;
}

.sidebar-toggle{
    background: transparent !important;
    top: 0px;
    font-size: large;
    bottom: unset;
    padding: 18px !important;
}

#main pre {
    border-radius: 20px;
}

#main pre::after{
    padding: 10px;
    margin-right: 10px;
}

#main pre .docsify-copy-code-button:not(.success) {
    border-radius: 20px;
    bottom: 0;
    top: unset;
    margin: 15px;
    padding: 10px;
    height: 58px;
    width: 58px;
    max-width: 58px;
    max-height: 58px;
    min-width: 58px;
    min-height: 58px;
    background: #3f3f3f;
}

#main pre .docsify-copy-code-button:not(.success)::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f328";
    font-size: large;
}

#main pre .docsify-copy-code-button span:not(.label) {
    display: none;
}

#main pre .docsify-copy-code-button:not(.success) span.label::after{
    content: "Copy";
    background: #0c0c0c;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

#main pre .docsify-copy-code-button:not(.success):hover span.label::after{
    visibility: visible;
}

#main pre .docsify-copy-code-button:not(.success) span.label {
    position: absolute;
    display: block;
    right: 60px;
    height: fit-content;
    bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    visibility: hidden;
}

#main pre .docsify-copy-code-button.success {
    border-radius: 20px;
    bottom: 0;
    top: unset;
    margin: 15px;
    padding: 10px;
    height: 58px;
    width: 58px;
    max-width: 58px;
    max-height: 58px;
    min-width: 58px;
    min-height: 58px;
    background: #33863a;
}

#main pre .docsify-copy-code-button.success::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f00c";
    font-size: large;
}

#main pre .docsify-copy-code-button.success span.label::after {
    content: "Copied!";
    background: #33863a;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

#main pre .docsify-copy-code-button:hover span.label::after {
    visibility: visible;
}

#main pre .docsify-copy-code-button span.label {
    position: absolute;
    display: block;
    right: 60px;
    height: fit-content;
    bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    visibility: hidden;
}