@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body{
    background: #2f2f2f;
    color: #ddd;
    margin: 0;
    font-family: 'Source Sans Pro',
            'Helvetica Neue',
            Arial,
            sans-serif;
}

aside.sidebar{
    margin: 10px;
}

aside.sidebar div.box{
    position: sticky;
    top: 41px;
    width: 300px;
    transition: margin-left .3s ease-in-out;
}

aside.sidebar div.box.hidden{
    margin-left: -310px;
}

aside.sidebar div#menu-handle{
    position: sticky;
    top: 10px;
    padding: 0 0 10px 5px;
    font-size: 18px;
}

aside.sidebar header{
    background: #1f1f1f;
    color: #ddd;
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
}

aside.sidebar section{
    background: #1f1f1f;
    color: #ddd;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 10px 10px;
}

aside.sidebar section ul{
    padding: 0  0 0 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: background .2s ease-in-out;
    list-style-type: none;
    margin: 0;
}

aside.sidebar section ul.first-item{
    padding: 0;
    margin-top: -5px;
}

aside.sidebar section ul li{
    padding: 10px 15px;
    border-radius: 50px;
    transition: background .1s ease-in-out;
    cursor: pointer;
}

aside.sidebar section ul li:hover {
    background: #3f3f3f;
}